.categoria {
  margin-bottom: 60px;
}

.categoria h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #111;
}

.cover-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 40px;
  padding-bottom: 20px;
}

.cover-item {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-item img {
  width: 180px;
  height: 240px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.3s;
  cursor: pointer;
}


.cover-item img:hover {
  border-color: #999;
}

.cover-item span {
  margin-top: 10px;
  font-size: 1em;
  color: #555;
  text-align: center;
}
